<% layout("layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-3">
  <h3>Create a New Listing</h3>
  <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required />
      <div class="valid-feedback">Title looks good!</div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
      name="listing[description]"
      placeholder="enter description" class="form-control" required
    ></textarea>
    <div class="invalid-feedback">Please enter the short description</div>
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select name="listing[category]" class="form-select" required>
        <option value="" selected disabled>Select a category</option>
        <option value="rooms">rooms</option>
        <option value="mountains">mountains</option>
        <option value="farms">farms</option>
        <option value="arctic">arctic</option>
        <option value="beach">beach</option>
        <option value="iconic cities">iconic cities</option>
        <option value="amazing pools">amazing pools</option>
        <option value="camping">camping</option>
        <option value="domes">domes</option>
        <option value="boats">boats</option>
      </select>
      <div class="invalid-feedback">Please select a category</div>
    </div>

    <div class="mb-3">
      <label for="amenities" class="form-label">Amenities</label>
      <select name="listing[amenities]" class="form-select" multiple aria-label="Select multiple amenities for your listing">
        <option value="" selected disabled>Select amenities</option>
        <option value="hair dryer">hair dryer</option>
        <option value="cleaning products">cleaning products</option>
        <option value="shampoo">shampoo</option>
        <option value="bath tub">bath tub</option>
        <option value="bidet">bidet</option>
        <option value="shower">shower</option>
        <option value="hot water">hot water</option>
        <option value="essentials">essentials</option>
        <option value="hangers">hangers</option>
        <option value="bed linen">bed linen</option>

        <option value="room-darkening blinds">room-darkening blinds</option>
        <option value="iron">iron</option>
        <option value="tv">tv</option>
        <option value="wifi">wifi</option>
        <option value="ethernet cable">ethernet cable</option>
        <option value="air conditioning">air conditioning</option>
        <option value="ceiling fan">ceiling fan</option>
        <option value="first aid kit">first aid kit</option>
        <option value="fridge">fridge</option>
        <option value="microwave">microwave</option>

        <option value="dishes and cutlery">dishes and cutlery</option>
        <option value="coffee maker">coffee maker</option>
        <option value="toaster">toaster</option>
        <option value="kitchen">kitchen</option>
        <option value="balcony">balcony</option>
        <option value="outdoor dining area">outdoor dining area</option>
        <option value="swimming pool">swimming pool</option>
        <option value="lift">lift</option>
        <option value="cleaning available during stay">cleaning available during stay</option>
        <option value="free parking">free parking</option>

        <option value="laundry service">laundry service</option>
        <option value="long term stays">long term stays</option>
        <option value="bathroom essentials">bathroom essentials</option>
        <option value="beach view">beach view</option>
        <option value="wardrobe">wardrobe</option>
        <option value="waste compactor">waste compactor</option>
      </select>
      <div class="valid-feedback">Nice offerings!</div>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>
      <input
      name="listing[image]"
      type="file" class="form-control" required
    />
    </div>
    
    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" placeholder="1200" class="form-control" required />
        <div class="invalid-feedback">Price should be valid</div>
      </div>
      
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="India" type="text" class="form-control" required />
        <div class="invalid-feedback">country name should be valid</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
      name="listing[location]"
      placeholder="Mumbai, Maharashtra"
      type="text" class="form-control" required
    />
    <div class="invalid-feedback">Location should be valid</div>
    </div>
    <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
    <br><br>
  </form>
  </div>
</div>