.ami {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1.5rem;
    font-size: large;
    font-weight: 500;
}

.hr-line {
    margin-top: 2rem;
}

.ami-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0.75rem 1rem 0.75rem;
}

.ami-container h4 {
    display: block;
}

.ami-heading {
    margin-right: 60%;
}

.ami img {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.8rem;
}