body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.fa-airbnb {
    color: #fe424d;
    font-size: 2rem;
}

.navbar-brand {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
}

.navbar-brand h4 {
    margin-top: 0.2rem;
    color: #fe424d;
    font-size: 1rem;
    font-weight: bold;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100% !important;
    height: 20rem !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none !important;
}

/* card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
    margin-left: 0 !important;
}

/* Show page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Map */
#map {
    height: 500px;
    width: 100%;
    border-radius: 25px;
}

.reserve-info {
    border: 0.2px solid black;
    border-radius: 20px;
    padding: 0.5rem;
}

.check-info-one {
    border-right: 0.2px solid black !important;
}

.reserve-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    background-color: #fe424d !important;
    border-radius: 25px !important;
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
}

.booking-info {
    position: sticky !important;
    top: 5rem !important;
    height: 350px !important;
    margin-left: 2.7rem !important;
    margin-right: 1.7rem;
    margin-top: 1rem;
}

#reserve-btn-para {
    text-align: center;
    margin-top: 0.5rem;
}